<h1 class="title is-1">List Of Meals</h1>

<div class="is-flex is-justify-content-flex-end">
    <%= paginate @meals %>
</div>

<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th>Name of Meal</th>
            <%= meal.MealName%>
            </td>
            <td>
                <%= link_to meal.chef.ChefName, chef_path(meal.chef) %>
            </td>
            <td>
                <%= link_to meal.restaurant.RestaurantName, restaurant_path(meal.restaurant) %>
            </td>
            <td>
                <%= link_to 'View ->', meal_path(meal) %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>