<h1 class="title is-1">List Of Chefs</h1>

<div class="is-flex is-justify-content-flex-end">
    <%= paginate @chefs %>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Chef Name</th>
                <th>Chef Age</th>
                <th>Nationality</th>
            </tr>
        </thead>
        <tbody>
            <% @chefs.each do |chef|%>
            <tr>
                <td>
                    <%= chef.ChefName%>
                </td>
                <td>
                    <%= chef.ChefAge%>
                </td>
                <td>
                    <%= chef.Nationality%>
                </td>
                <td>
                    <%= link_to 'View ->', chef_path(chef) %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>